//SITE

#site{

	position: relative;
	overflow: hidden;

	#cover{
		position: relative;
		height: 100vh;
		#fotos{
			.coverfull;
			.foto{
				.coverfull;
				background-size: cover !important;
				opacity: 0;
				&.active{
					opacity: 1;
				}
			}
		}
	}


}


//MENU

#themenu{

	position: relative;
	overflow: hidden;

	#portada{

	}

	main{

		padding-bottom: 50px;

		.navigation{

		}

		section#menu{
			padding-bottom: 50px;
			.centrador{
				.categoria{
					position: relative;
					margin-bottom: 50px;
					h6{
						color: @color--text--light;
						margin-bottom: 60px;
					}
					.platos{
						position: relative;
						.flexbox;
						flex-wrap: wrap;
						.plato{
							position: relative;
							width: calc(~'33% - 86px');
							width: -webkit-calc(~'33% - 86px');
							margin-right: 130px;
							.foto{
								position: relative;
								.perspective(138%);
								.blurfoto{
									background-size: cover !important;
								}
							}
							.info{
								position: relative;
								padding: 20px 0px 30px;
								b{
									display: block;
									.text(normal);
									font-size: 18px;
									color: @color--text--light;
								}
								span{
									display: block;
									.text(normal);
									font-size: 18px;
									color: @color--text;
									margin-top: 15px;
								}
							}
							&:nth-child(3n){
								margin-right: 0px;
							}
						}
					}
				}
			}
		}


	}

}


//US

#us{

	position: relative;
	overflow: hidden;

	#portada{

	}


	main{

		section.texto{
			padding: 75px 0px;
			.centrador{
				max-width: none;
				padding: 0px;
				.parrafos{
					position: relative;
					.flexbox;
					justify-content: center;
					.parrafo{
						width: 50%;
						.borderbox;
						padding: 0px 70px;
						.centro{
							max-width: 570px;
							h6{

							}
							p{
								margin-top: 15px;
							}

						}
						&.full{
							.centro{
								margin: 0px auto;
							}
						}
					}
				}
			}
		}

		section.photo{
			.centrador{
				padding: 0px;
				max-width: none;
				.fotos{
					position: relative;
					.flexbox;
					.foto{
						position: relative;
						.perspective(100%);
						width: 50%;
						.blurfoto{
							background-size: cover !important;
						}
						&.full{
							width: 100%;
							&:after{
								display: none;
							}
							img{
								width: 100%;
							}
						}
					}
				}
			}
		}

	}

}


//BOOK

#book{

	position: relative;
	overflow: hidden;

	main{

		padding-top: 140px;

		#title{
			h2{

			}
		}

		section#reserva{
			margin-top: 240px;
			.centrador{

				#locations{
					position: relative;
					.flexbox;
					justify-content: space-between;
					flex-wrap: wrap;
					.location{
						position: relative;
						width: calc(~'50% - 65px');
						width: -webkit-calc(~'50% - 65px');
						.foto{
							.perspective(100%);
							.blurfoto{
								background-size: cover !important;
							}
						}
						.info{
							position: relative;
							padding: 60px 0px 80px;
							b{
								display: block;
								color: @color--text--light;
								font-size: 18px;
								.text(bold);
							}
							p{
								display: block;
								margin: 0px;
								margin-top: 15px;
								white-space: pre-line;
								color: @color--text;
								font-size: 18px;
								.text(normal);
							}
							button{
								width: auto;
								padding: 0px 30px;
								margin-top: 15px;
							}
						}
					}
				}

			}
		}

	}
}



//BLOG

#blog{


	position: relative;
	overflow: hidden;

	main{

		padding-top: 140px;

		#title{
			h2{

			}
		}

		.navigation{

		}

		section#recetas{
			margin-top: 100px;
			padding-bottom: 50px;
			.centrador{

				#recipes{
					position: relative;
					.flexbox;
					flex-wrap: wrap;

					.recipe{
						position: relative;
						width: calc(~'33% - 86px');
						width: -webkit-calc(~'33% - 86px');
						margin-right: 130px;
						.foto{
							position: relative;
							.perspective(100%);
							.blurfoto{
								background-size: cover !important;
							}
						}
						.info{
							position: relative;
							padding: 40px 0px 50px;
							b{
								display: block;
								.text(normal);
								font-size: 18px;
								color: @color--text--light;
							}
							span{
								display: block;
								.text(normal);
								font-size: 18px;
								color: @color--text;
								margin-top: 15px;
							}
						}
						&:nth-child(3n){
							margin-right: 0px;
						}
					}

				}

			}
		}

	}

}

//POST

#post{

	position: relative;
	overflow: hidden;

	#gallery{
		position: relative;
		.perspective(50%);
		#fotos{
			.coverfull;
			.foto{
				.coverfull;
				opacity: 0;
				&.active{
					opacity: 1;
				}
			}
		}
	}


	main{


		article{
			position: relative;
			padding: 50px 0px 70px;

			.centrador{


				#bloques{
					position: relative;
					margin: 0px auto;
					max-width: 570px;

					.bloque{
						position: relative;
						margin-bottom: 25px;
						h6{

						}

						p{

						}

						&.list{
							p{

							}
						}
					}

				}

				#actions{
					position: relative;
					margin: 0px auto;
					max-width: 570px;
					.flexbox;
					margin-top: 50px;
					button{

					}
				}
			}

		}

	}

}


//CATERING

#catering{

	position: relative;
	overflow: hidden;

	#portada{

	}

	main{

		section#eventos{

			padding: 50px 0px 70px;

			.centrador{

				.info{
					position: relative;
					max-width: 570px;
					margin: 0px auto 50px;
					h6{
						margin-bottom: 15px;
						text-transform: none;
					}
					p{

					}

					.paquete{
						position: relative;
						margin-bottom: 24px;
						b{
							display: block;
							.text(bold);
							color: @color--text--light;
							font-size: 16px;
						}
						p{
							margin-top: 15px;
						}
					}
				}

				#actions{
					position: relative;
					margin: 0px auto;
					max-width: 570px;
					.flexbox;
					button{

					}
				}

			}
		}

	}

}



//CONTACT

#contact{

	position: relative;
	overflow: hidden;

	main{

		padding-top: 140px;

		#title{

		}

		section#solicitud{

			.centrador{

				#contacto{

					position: relative;

					#formulario{

						position: relative;
						padding: 120px 0px 80px;


						.seccion{
							position: relative;
							margin-bottom: 30px;
							h6{
								margin-bottom: 25px;
							}
						}


						#actions{
							position: relative;
							margin-top: 100px;
							.flexbox;
							button{

							}
						}

						#legal{
							position: relative;
							margin-top: 25px;
							small{
								display: block;
								.text(normal);
								color: @color--text;
								font-size: 11px;
							}
						}

						&.waiting{
							pointer-events: none;
							cursor: wait;
						}

						&.error{
							button{
								pointer-events: none;
							}
						}

						&.ok{
							button{
								pointer-events: none;
							}
						}
					}

					#msg{
						position: relative;
						padding: 240px 0px;
						.centro{
							margin: 0px auto;
							max-width: 360px;
							>span{
								display: block;
								text-align: center;
								.text(normal);
								font-size: 21px;
								color: @color--text;
							}
							button{
								margin: 50px auto 0px;
							}
						}
					}
				}

			}

		}

	}



}
