/////////////////////////////
////////////////////DASHBOARD

body{
	margin: 0px;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}

img{
	display: block;
}

button{
	cursor: pointer;
	&:focus{
		outline: none;
	}
}

.mapa#map{
	position: relative;
	height: 400px;
}

.video{
	position: relative;
	min-height: 100px;
	img{
		width: 100%;
		pointer-events: none;
	}
	.ico.play{
		.center-align;
		width: 50px;
		height: 50px;
		background: rgba(255, 255, 255, 0.2);
		.centrar;
		border-radius: 50%;
		cursor: pointer;
		i{
			display: block;
			font-size: 20px;
			color: @color--admin--accent;
		}
	}
	.embed{
		position: relative;
		width: 100%;
		height: 220px;
		background: black;
		iframe{
			.coverfull;
		}
	}
	
}


.tip{
	.horizontal-align;
	top: 100%;
	background: #282C3D;
	.borderbox;
	padding: 8px 6px 6px;
	border-radius: 3px;
	opacity: 0;
	pointer-events: none;
	.transition(400ms);
	z-index: 40;
	&:after{
		.horizontal-align;
		top: -16px;
		width: 0px;
		height: 0px;
		border: 8px solid transparent;
		border-bottom-color: #282C3D;
		content: '';
		display: block;
	}
	small{
		display: block;
		color: white;
		.text(300);
		font-size: 10px;
		text-transform: uppercase;
		line-height: 1.3;
	}
}



#dashboard{

	position: relative;
	.flexbox;
	flex-direction: row;
	align-items: stretch;
	height: 100vh;
	overflow: hidden;


	//ASIDE
	aside{
		position: relative;
		background: #292C3D;
		width: 260px;
		min-width: 260px;
		overflow-y: scroll;


		//MENU
		menu{
			.flexbox;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0px 30px;
			margin-top: 50px;

			.op_menu{
				position: relative;
				width: 48%;
				cursor: pointer;
				margin-bottom: 15px;
				min-width: 90px;
				.flexbox;
				justify-content: center;
				align-items: center;
				&:after{
					content: '';
					display: block;
					padding-bottom: 100%;
				}
				a{
					.coverfull;
					cursor: pointer;
				}
				.centro{
					width: 80%;
					text-align: center;
					color: white;
					pointer-events: none;
					i{
						font-size: 18px;
					}
					span{
						display: block;
						font-size: 9px;
						.text(100);
						margin-top: 7px;
						letter-spacing: 1px;
					}
				}
				.light{
					position: absolute;
					top: 10px;
					right: 10px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: @color--admin--back;
					opacity: 0;
					.transition(200ms);
				}
				&.active{
					background: rgba(0, 0, 0, 0.15);
					cursor: default;
					pointer-events: none;
					.light{
						opacity: 1;
					}
				}
				&:hover{
					background: rgba(0, 0, 0, 0.15);
				}

			}
		}




	}



	//MAIN
	main{

		position: relative;
		width: 100%;
		.flexbox;
		flex-direction: row;
		align-items: stretch;
		height: 100vh;
		background: #292C3D;


		/////////////////////CONTENT
		section#content{
			position: relative;
			background: #ececec;
			width: 360px;
			min-width: 360px;
			max-width: 360px;
			padding-top: 60px;
			overflow: hidden;


			///////ACTIONBAR
			#actionbar{

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60px;
				background: #e4e4e4;
				border-bottom: 1px solid rgba(0, 0, 0, 0.08);
				.borderbox;
				z-index: 20;



				//TITULO
				#title{
					position: relative;
					width: 100%;
					.borderbox;
					height: 60px;
					.flexbox;
					align-items: center;
					padding: 0px 25px;
					span{
						position: relative;
						color: rgba(0, 0, 0, 0.4);
						.text(400);
						text-transform: uppercase;
						font-size: 13px;
					}
				}


				#buttons{
					position: absolute;
					top: 0px;
					right: 0px;
					height: 100%;
					overflow: hidden;
					justify-content: flex-end;
					.flexbox;
					max-width: 100%;
					width: 100%;



					//BOTON BUSQUEDA
					#btn_search{
						position: relative;
						min-width: 60px;
						height: 60px;
						border: none;
						background: none;
						cursor: pointer;
						justify-content: center;
						align-items: center;
						border-left: 1px solid rgba(0, 0, 0, 0.08);
						background: #e4e4e4;
						display: none;
						&.showed{
							.flexbox;
						}
						.icon-search{
							font-size: 17px;
							color: rgba(0, 0, 0, 0.4);
						}
						&:focus{
							outline: none;
						}
					}


					//BUSQUEDA
					#busqueda{
						position: relative;
						width: 0px;
						overflow: hidden;
						height: 60px;
						background: #e4e4e4;
						.transition(600ms);

						&.wiped{
							width: 100%;
						}

						.input{
							position: relative;
							width: 100%;
							height: 100%;
							border-bottom: 1px solid rgba(0, 0, 0, 0.08);
							.flexbox;
							align-items: center;
							input[type="text"]{
								display: block;
								width: 85%;
								border: none;
								background: none;
								border-bottom: 1px solid rgba(0, 0, 0, 0.08);
								.text(100);
								font-size: 13px;
								padding: 8px 10px;
								&:focus{
									outline: none;
								}
							}
						}

					}




					//BOTON FILTRO
					#btn_filters{

						position: relative;
						width: 60px;
						min-width: 60px;
						height: 60px;
						cursor: pointer;
						border: none;
						background: none;
						border-left: 1px solid rgba(0, 0, 0, 0.08);
						.borderbox;
						justify-content: center;
						align-items: center;
						display: none;
						background: #e4e4e4;

						&.showed{
							.flexbox;
						}

						&:focus{
							outline: none;
						}

						[class^='icon-']{
							font-size: 17px;
							color: rgba(0, 0, 0, 0.4);
							cursor: pointer;
						}

						&.active [class^='icon-']{
							color: @color--admin--accent;
						}

					}



				}


			}


			.content{
				position: relative;
				padding: 20px 20px 50px;
				height: -webkit-calc(~'100vh - 130px');
				height: calc(~'100vh - 130px');
				overflow-y: scroll;


				&.filters{

					#filters{
						display: block;
					}

				}


				//FILTROS
				#filters{
					position: relative;
					.borderbox;
					display: none;
					padding: 0px 0px 20px;

					.selector{
						width: 100%;
						max-width: 220px;
						position: relative;
						height: 30px;
						.flexbox;
						align-items: center;
						margin: 0px auto;
						background: #E4E4E4;
						padding-left: 10px;
						margin-bottom: 10px;
						.borderbox;
						&:last-of-type{
							margin-bottom: 0px;
						}
						select{
							cursor: pointer;
							background: none;
							border: none;
							.text(300);
							color: @color--admin--text;
							font-size: 13px;
							text-transform: uppercase;
							width: 100%;
							&:focus{
								outline: none;
							}
						}
						input[type="date"]{
							display: block;
							width: 100%;
							background: none;
							border: none;
							.text(300);
							.borderbox;
							color: @color--admin--text;
							font-size: 13px;
							text-transform: uppercase;
							cursor: pointer;
							padding-left: 5px;
							&:focus{
								outline: none;
							}
						}
						i{
							pointer-events: none;
							position: absolute;
							z-index: 10;
							top: 0;
							right: 0;
							width: 30px;
							height: 100%;
							background: #E4E4E4;
							color: @color--admin--text;
							text-align: center;
							line-height: 1.8;
						}
					}


					button{
						position: relative;
						height: 30px;
						cursor: pointer;
						background: none;
						display: block;
						font-size: 14px;
						text-transform: uppercase;
						border: none;
						.text(300);
						width: 100%;
						max-width: 220px;
						margin: 10px auto 0px;
						color: @color--admin--over;
						background: @color--admin--accent;
						opacity: .75;
						&:hover{
							opacity: 1;
						}
						&.del{
							background: @color--admin--del;
							color: white;
						}
					}

				}




				//////////////////
				//////////
				//ITEMS
				//////////
				//////////////////




				#paginado{

					position: relative;
					.flexbox;
					margin: 20px auto;
					max-width: 360px;
					justify-content: space-between;

					a{
						width: 100%;
						&:nth-child(2){
							margin-left: 10px;
							min-width: calc(~'50% - 5px');
							width: -webkit-calc(~'50% - 5px');
						}
					}
					button{
						width: 100%;
						border: none;
						padding: 15px 45px;
						text-align: center;
						background: @color--admin--accent;
						color: @color--admin--over;
						.text(400);
						font-size: 15px;
					}

				}


			}




		}


		//DETALLES
		section#details{
			position: relative;
			background: #f6f6f6;
			width: 100%;
			padding: 60px 0px 0px;

			///////VIEWSBAR
			#viewsbar{

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.08);
				.borderbox;
				.transition(600ms);
				z-index: 20;
				.flexbox;
				justify-content: center;
				align-items: center;



				//NAVEGACION
				nav{
					height: 60px;
					.flexbox;

					.btn_view{
						position: relative;
						width: 60px;
						height: 60px;
						cursor: pointer;
						padding: 0px;
						margin: 0px;
						background: none;
						.transition(100ms);
						border: none;
						border-right: 1px solid rgba(0, 0, 0, 0.08);
						border-bottom: 2px solid transparent;
						.flexbox;
						justify-content: center;
						align-items: center;
						&:first-of-type{
							border-left: 1px solid rgba(0, 0, 0, 0.08);
						}
						i{
							font-size: 17px;
							color: rgba(0, 0, 0, 0.4);
							pointer-events: none;
						}

						&.active{
							border-bottom-color: @color--admin--accent;
						}
					}

				}

				//ACTIONS
				#actions{
					position: absolute;
					width: 100%;
					left: calc(~'100% - 60px');
					left: -webkit-calc(~'100% - 60px');
					top: 0;
					padding-left: 60px;
					height: 59px;
					border-left: 1px solid rgba(0, 0, 0, 0.08);

					.state{
						position: absolute;
						width: 60px;
						height: 60px;
						top: 0;
						left: 0;
						border: none;
						background: none;
						cursor: pointer;
						.transition(100ms);
						.flexbox;
						justify-content: center;
						align-items: center;
						i{
							font-size: 18px;
							color: rgba(0, 0, 0, 0.4);
							.transition(400ms);
						}
					}
					#hidden_actions{
						position: relative;
						width: calc(~'100% - 60px');
						width: -webkit-calc(~'100% - 60px');
						height: 100%;
						overflow: hidden;
						border-bottom: 1px solid rgba(0, 0, 0, 0.08);
						.flexbox;

						.action{
							position: relative;
							width: 60px;
							cursor: pointer;
							.transition(100ms);
							border: none;
							border-left: 1px solid rgba(0, 0, 0, 0.08);
							.flexbox;
							justify-content: center;
							align-items: center;
							background: #F6F6F6;

							i{
								font-size: 17px;
								color: rgba(0, 0, 0, 0.4);
								.transition(100ms);
							}
							&:hover i{
								color: white;
							}

							//ACTIONS COLORS
							&#delete{
								border-bottom: 2px solid @color--admin--del;
								&:hover{
									background: @color--admin--del;
									border-bottom-color: transparent;
								}
							}

							&#showOnSite{
								border-bottom: 2px solid @color--admin--ok;
								&:hover{
									background: @color--admin--ok;
									border-bottom-color: transparent;
								}
							}


						}




					}


					&.wiped{
						.state i{
							opacity: .4;
							.rotate(120deg);
						}
					}

				}



			}


			//VISTA
			.view{
				position: relative;
				padding: 20px 20px 50px;
				.borderbox;
				overflow-y: scroll;
				max-height: -webkit-calc(~'100vh - 60px');
				max-height: calc(~'100vh - 60px');
				display: none;

				&.showed{
					display: block;
				}
			}


			//ALERTS
			#alerts{

			}



			//SPINER
			#spinner{

			}





		}


	}


	#rx{
		display: none;
	}



}


//ALERTS

#alerts{
	
}



//SPINER

#spinner{

	.coverfull;
	background: rgba(245, 245, 245, 0.6);
	z-index: 100;
	.flexbox;
	justify-content: center;
	align-items: center;
	.transition(300ms);
	opacity: 0;
	pointer-events: none;

	.centro{
		position: relative;
		.flexbox;
		justify-content: space-between;
		width: 50px;

		.circle{
			position: relative;
			width: 16px;
			height: 16px;
			border-radius: 50%;

			&:nth-child(1){
				background: @color--admin--accent;
				animation: grow 800ms infinite;
			}
			&:nth-child(2){
				background: #C2C2C2;
				animation: grow 800ms infinite;
				animation-delay: 350ms;
			}

		}
	}

	@keyframes grow{
		0%{
			.scale(1);
		}
		50%{
			.scale(1.5);
		}
		100%{
			.scale(1);
		}
	}

	&.showed{
		opacity: 1;
		pointer-events: all;
	}

}
