//ITEMS


//ITEM		
.item{
	position: relative;
	background: #fafafa;
	margin: 0px auto 10px;
	display: block;
	cursor: pointer;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	.borderbox;
	width: 100%;
	max-width: 320px;
	
	
	&.new{

		border: 5px dashed #C8C8C8;
		box-shadow: none;
		.flexbox;
		justify-content: center;
		align-items: center;
		background: none;
		
		label{
			margin: 0px;
			text-align: center;
			color: #C8C8C8;
			font-size: 15px;
			display: block;
			.text(400);
			pointer-events: none;
		}
		
	}
	
	.foto{
		position: relative;
		width: 100%;
		background: #E2E2E2;
		background-size: cover !important;
		.perspective(100%);
		
		&.contain{
			background: none;
			background-size: contain !important;
		}
		
	}
	
	.fotos{
		position: relative;
		.flexbox;
		.foto{
			width: 100%;
		}
	}
	
	.texto{
		position: relative;
		padding: 15px;
		.borderbox;
		span{
			margin-top: 4px;
		}
	}
	
	strong{
		display: block;
		margin: 0px;
		.text(400);
		font-size: 15px;
		color: @color--admin--text;
	}
	
	span{
		display: block;
		.text(400);
		font-size: 12px;
		color: @color--admin--text--light;
		margin-top: 4px;
	}
	
	&.more{

		box-shadow: none;
		.flexbox;
		justify-content: center;
		align-items: center;
		background: @color--admin--accent;
		height: 45px;
		
		label{
			text-align: center;
			color: @color--admin--over;
			font-size: 15px;
			text-transform: uppercase;
			pointer-events: none;
			display: block;
			margin: 0px;
			.text(400);
		}
		
	}
	
	
	&.off{
		opacity: .4;
	}
	
	&.highlight{
		border-bottom: 4px solid @color--admin--accent;
	}
	
}



//FORMULARIOS DE EDICIÓN
.view#edit_view{
	
	
	.seccion{
		position: relative;
		margin-bottom: 40px;
		&:last-of-type{
			margin-bottom: 0px;
		}
		
		h6{
			display: block;
			margin: 0px;
			color: @color--admin--text;
			.text(400);
			font-size: 18px;
		}
		
		.content{
			position: relative;
			margin-top: 10px;
			background: #fafafa;
		}
		
	}
	
	
}


//PREVIEWS DE CONTENIDO
.view#preview{
	
	
	.seccion{
		position: relative;
		margin-bottom: 40px;
		&:last-of-type{
			margin-bottom: 0px;
		}
		
		h6{
			display: block;
			margin: 0px;
			color: @color--admin--text;
			.text(400);
			font-size: 18px;
		}
		
		.content{
			position: relative;
			margin-top: 10px;
			background: #fafafa;
			box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
		}
		
	}
	
	
	.foto{
		position: relative;
		width: 100%;
		background: #E2E2E2;
		background-size: cover !important;
		&.producto{
			background: none;
			background-size: contain !important;
		}
		&:after{
			content: '';
			display: block;
			padding-bottom: 100%;
		}
	}
	
	.fotos{
		position: relative;
		.flexbox;
		.foto{
			width: 100%;
		}
	}
	
	
	.contenido{
		position: relative;
		padding: 0px 20px;
	}
	
	
	.info{
		position: relative;
		margin-bottom: 10px;
		.flexbox;
		align-items: flex-start;
		&:last-of-type{
			margin-bottom: 0px;
		}
		label{
			display: block;
			.text(600);
			font-size: 10px;
			color: @color--admin--text--light;
			text-transform: uppercase;
			min-width: 100px;
			max-width: 100px;
			text-align: right;
			margin-top: 4px;
		}	
		p{
			display: block;
			margin: 0px;
			.text(300);
			width: 100%;
			font-size: 16px;
			color: @color--admin--text;
			margin: 0px;
			white-space: pre-line;
			padding-left: 10px;
			u{
				text-decoration: none;
				display: inline-block;
				max-width: 400px;
				font-size: 14px;
				color: @color--admin--accent;
			}
		}
	}
	
}