/////////////////////////////
////////////////////LOGIN

#login{
	
	position: relative;
	.flexbox;
	align-items: stretch;
	height: 100vh;
	overflow: hidden;
	
	
	//COVER
	#cover{
		background: @color--admin--back;
		width: 48%;
		position: relative;
		.flexbox;
		justify-content: flex-end;
		align-items: center;	
		
		.slogan{
			position: relative;
			max-width: 160px;
			margin-right: 15%;
			text-align: right;
			color: @color--admin--over;
			font-size: 40px;
			font-family: 'Reem Kufi', sans-serif;
			line-height: 1.2;
			img{
				width: 100%;
			}
		}
		
	}
	
	
	//FORMS
	#form{
		background: #292C3D;
		width: 52%;
		position: relative;
		overflow: hidden;
		.flexbox;
		align-items: center;
		
		
		.login{
			
			position: relative;
			width: 100%;

			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			input:-webkit-autofill:active {
			    transition: background-color 5000s ease-in-out 0s;
			    -webkit-text-fill-color: white !important;
			}
			
			
			h3{
				margin: 0px;
				color: white;
				margin-bottom: 30px;
				padding: 0px 20px 0px 80px;
				.text(100);
				font-size: 20px;
				text-transform: uppercase;
				opacity: .7;
			}
			
			.input{
				display: block;
				position: relative;
				width: 100%;
				background: rgba(255, 255, 255, 0.04);
				padding: 20px 20px 20px 80px;
				border-bottom: thin solid rgba(255, 255, 255, 0.15);
				.borderbox;
				
				input{
					display: block;
					.borderbox;
					width: 100%;
					border: none;
					background: none;
					color: white;
					.text(100);
					font-size: 15px;
					&:focus{
						outline: none;
					}
				}
				
				&:last-of-type{
					border-bottom: none;
				}
			}
			
			
			
			button{
				position: relative;
				margin-top: 40px;
				background: none;
				color: @color--admin--back;
				border: 2px solid @color--admin--back;
				.text(300);
				border-radius: 0px 20px 20px 0px;
				border-left: 0px;
				padding: 12px 40px;
				font-size: 14px;
				cursor: pointer;
				&:focus{
					outline: none;
				}
			}
			
			
			
			
			
		}
		
		
		
	}
	
	
	
	
}