/* =Fonts
-----------------------------------------------------------------------------*/



@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cako';
    src: url('../fonts/Cako-Black.woff2') format('woff2'),
        url('../fonts/Cako-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

.text(@weight){
	font-family: 'Lato', sans-serif;
	font-weight: @weight;
}


.text2(){
	font-family: 'Cako', serif;
}


h2{
	margin: 0px;
	font-size: 100px;
	text-align: center;
	.text2();
	text-transform: uppercase;
	color: @color--secundary;
}

h6{
	margin: 0px;
	font-size: 18px;
	.text(bold);
	text-transform: uppercase;
	color: @color--text;
}

.paragraph{
	margin: 0px;
	display: block;
	white-space: pre-line;
	.text(normal);
	color: @color--text;
	font-size: 16px;
	
}