
/* = Forms
-----------------------------------------------------------------------------*/

#formulario,.formulario{
	
	position: relative;
	
	.input{
		position: relative;
		margin-bottom: 25px;
		::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.25);}
		::-moz-placeholder{color: rgba(0, 0, 0, 0.25);}
		:-ms-input-placeholder{color: rgba(0, 0, 0, 0.25);}
		:-moz-placeholder{ color: rgba(0, 0, 0, 0.25);}
		input,textarea{
			height: 50px;
			display: block;
			padding: 0px 15px;
			width: 100%;
			border: 1px solid #DDDDDD;
			background: none;
			color: @color--text;
			.text(normal);
			font-size: 15px;
			.borderbox;
			border-radius: 3px;
			background: white;
			&:focus{
				outline: none;
			}
		}
		textarea{
			padding: 15px 10px;
			height: auto;
			resize: none;
		}
		
		.selector{
			position: relative;
			border: 1px solid #DDDDDD;
			select{
				height: 50px;
				display: block;
				padding: 0px 10px;
				width: 100%;
				background: none;
				border: none;
				color: @color--text;
				.text(normal);
				font-size: 16px;
				&:focus{
					outline: none;
				}
			}
			.arrow{
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				.centrar;
				background: white;
				height: 100%;
				pointer-events: none;
				background: #DDDDDD;
				i{
					display: block;
					font-size: 24px;
					color: @color--text--light;
				}
			}
		}
		
		.show{
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			width: 40px;
			height: 100%;
			.centrar;
			i{
				font-size: 18px;
				color: @color--text--light;
			}
		}
		
		&.alerta{
			input,textarea{
				border: 1px solid @color--admin--error;
			}
		}
		>label{
			display: block;
			.text(500);
			color: @color--text;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	.checkbox{
		position: relative;
		margin-bottom: 15px;
		.flexbox;
		align-items: center;
		.check{
			position: relative;
			width: 30px;
			min-width: 30px;
			height: 30px;
			border: 1px solid @color--line;
			.centrar;
			margin-right: 10px;
			input[type="checkbox"]{
				.coverfull;
				z-index: 20;
				cursor: pointer;
				opacity: 0;
			}
			i{
				opacity: 0;
				.transition(400ms);
				font-size: 18px;
				color: @color--primary;
			}
			input[type="checkbox"]:checked + i{
				opacity: 1;
			}
		}
		.radio{
			position: relative;
			width: 30px;
			min-width: 30px;
			height: 30px;
			border: 1px solid @color--line;
			border-radius: 50%;
			.centrar;
			margin-right: 10px;
			input[type="radio"]{
				.coverfull;
				z-index: 20;
				cursor: pointer;
				opacity: 0;
			}
			i{
				opacity: 0;
				.transition(400ms);
				font-size: 18px;
				color: @color--primary;
			}
			input[type="radio"]:checked + i{
				opacity: 1;
			}
		}
		label{
			display: block;
			color: @color--text;
			.text(normal);
			font-size: 14px;
			a{
				display: inline;
			}
		}
	}
	.group{
		.flexbox;
		justify-content: space-between;
		align-items: flex-start;
		&.doble{
			.input{
				width: calc(~'50% - 15px');
				width: -webkit-calc(~'50% - 15px');
			}
		}
		&.triple{
			.input{
				width: calc(~'33% - 15px');
				width: -webkit-calc(~'33% - 15px');
				.group{
					.input{
						width: calc(~'50% - 15px');
						width: -webkit-calc(~'50% - 15px');
						margin-bottom: 0px;
					}
				}
			}
		}
	}
	
}
