/*
	GENERAL
*/

/* = General Items
-----------------------------------------------------------------------------*/

.centrador{
	max-width: 1520px;
	padding: 0px 70px;
}


body{
	margin: 0px;
}

section{
	position: relative;
}

img{
	display: block;
}

main{
	position: relative;
}

.foto,#foto{
	position: relative;
	.blurfoto{
		background-size: cover !important;
	}
}

a{
	text-decoration: none;
	color: inherit;
	&:focus{
		outline: none;
	}
}

button{
	cursor: pointer;
	&:focus{
		outline: none;
	}
	&.boton{
		height: 40px;
		background: #E1321C;
		border: none;
		border-radius: 8px;
		.centrar;
		width: 300px;
		span{
			display: block;
			color: white;
			.text(normal);
			font-size: 14px;
		}
		&:hover{
			background: @color--accent;
		}
	}
}

#title{
	position: relative;
	h2{
		
	}
}


#portada{
	position: relative;
	.perspective(56%);
	.blurfoto{
		background-size: cover !important;
		opacity: 0;
		pointer-events: none;
		.transition(600ms);
		&.active{
			opacity: 1;
		}
	}
	.blurcolor{
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		display: none;
	}
	.centrador{
		.center-align;
		.centro{
			margin: 0px auto;
			max-width: 580px;
			h2{
				color: white;
			}
			span{
				color: white;
				display: block;
				margin-top: 40px;
				text-align: center;
				.text(bold);
				font-size: 64px;
				text-transform: uppercase;
				line-height: 1.1;
			}
		}
	}
	&.title{
		.centrador{
			.horizontal-align;
			top: 140px;
		}
	}
}


.navigation{
	position: relative;
	.centrador{
		height: 125px;
		.centrar;
		nav{
			position: relative;
			.flexbox;
			align-items: center;
			justify-content: center;
			.link{
				position: relative;
				margin: 0px 20px;
				
				span{
					display: block;
					color: @color--text--light;
					.text(bold);
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: .8px;
				}
				&:hover{
					span{
						color: @color--secundary;
					}
				}
			}
		}
	}
}


header{
	
	#header{
		
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 60px;
		z-index: 100;
		
		.centrador{
			padding: 0px 70px;
			max-width: none;
			.flexbox;
			justify-content: space-between;
			
			#logo{
				position: relative;
				cursor: pointer;
				.logo{
					position: relative;
					width: 200px;
					svg{
						width: 100%;
					}
				}
			}
			
			#cerrador{
				display: none;
			}
			
			#menu{
				position: relative;
				menu{
					position: relative;
					margin: 0px;
					padding: 0px;
					.flexbox;
					align-items: flex-end;
					justify-content: flex-end;
					.link{
						position: relative;
						margin-left: 50px;
						span{
							display: block;
							color: #313131;
							.text(bold);
							text-transform: uppercase;
							font-size: 15px;
							letter-spacing: .7px;
						}
						
					}
					#social{
						position: relative;
						margin-left: 25px;
						.flexbox;
						.rrss{
							position: relative;
							margin-left: 25px;
							cursor: pointer;
							.ico{
								position: relative;
								.flexbox;
								svg{
									
								}
							}
						}
							
					}
				}
			}
			
			#actions{
				position: relative;
				.flexbox;
				display: none;
				.action{
					position: relative;
					.ico{
						position: relative;
						width: 30px;
						.centrar;
						svg{
							width: 100%;
						}
					}
				}
			}
			
		}
	}
	
	&.white,&.menu{
		#header{
			#logo{
				.logo{
					svg{
						path{
							fill: white;
						}
					}
				}
			}
			#menu{
				menu{
					.link{
						span{
							color: white;
						}
					}
					#social{
						.rrss{
							.ico{
								svg{
									path{
										fill: white;
									}
								}
							}
						}
					}
				}
			}
			#actions{
				.action{
					.ico{
						svg{
							path{
								fill: white;
							}
						}
					}
				}
			}
		}
	}
	
	&.menu{
		
	}
}