/*
	MEDIA SCREEN
*/

/* =Full Screen
-----------------------------------------------------------------------------*/
@media only screen and (min-width : 1824px) {
	
}

/* = Tablet Horizontal
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 1224px) {
	
	
	//HEADER
	
	header #header{
		padding-top: 40px;
	}
	
	header #header .centrador #logo .logo{
		width: 140px;
	}
	
	header #header .centrador #menu{
		margin-top: 10px;
	}
	
	header #header .centrador #menu menu .link span{
		font-size: 12px;
	}
	
	header #header .centrador #menu menu .link{
		margin-left: 40px;
	}
	
	header #header .centrador #menu menu{
		align-items: center;
	}
	
	
	//FONTS
	
	h2{
		font-size: 70px;
	}
	
	
	//NAVIGATION
	
	.navigation .centrador nav .link span{
		font-size: 14px;
	}
	
	.navigation .centrador nav .link{
		margin: 0px 15px;
	}
	
	
	
	//MENU
	
	#portada .centrador .centro span{
		font-size: 35px;
	}
	
	#themenu main section#menu .centrador .categoria .platos .plato{
		width: 28%;
		margin-right: 8%;
	}
	
	
	//RECETAS
	
	#blog main section#recetas .centrador #recipes .recipe{
		width: 28%;
		margin-right: 8%;
	}
	
	
	//US
	
	#us main section.texto .centrador .parrafos .parrafo.full{
		width: 100%;
	}
	
}

/* = Tablet Vertical / Movil Ancho
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 820px) {
	
	
	//GENERALES
	
	#portada .blurcolor{
		display: block;
	}
	
	
	//HEADER
	
	header #header{
		padding-top: 0px;
	}
	
	header #header .centrador{
		height: 100px;
		justify-content: flex-start;
		align-items: center;
		padding: 0px 50px;
	}
	
	header #header .centrador #logo{
		.center-align;
		z-index: 120;
		top: 60%;
		.logo{
			width: 110px;
			svg{
				g#sub{
					display: none;
				}
			}
		}
	}
	
	header #header .centrador #menu{
		margin-top: 0px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: black;
		opacity: 0;
		pointer-events: none;
		z-index: 110;
		padding: 100px 0px 40px;
		.transition(400ms);
		menu{
			display: block;
			.link{
				padding: 20px 0px;
				margin: 0px;
				width: 100%;
				span{
					text-align: center;
				}
			}
			#social{
				justify-content: center;
				margin-left: 0px;
				margin-top: 20px;
				.rrss{
					margin: 0px 15px;
				}
			}
		}
	}
	
	header #header .centrador #actions{
		.flexbox;
		z-index: 120;
	}
	
	header.menu #header .centrador #cerrador{
		display: block;
		.coverfull;
		position: fixed;
		z-index: 105;
	}
	
	header.menu #header .centrador #menu{
		opacity: 1;
		pointer-events: all;
	}
	
	
	
	//NAV
	
	.navigation .centrador{
		height: 100px;
	}
	
	
	//MENU
	
	#themenu main{
		padding-bottom: 0px;
	}
	
	#themenu main section#menu .centrador .categoria .platos{
		justify-content: space-between;
	}
	
	#themenu main section#menu .centrador .categoria .platos .plato{
		width: calc(~'50% - 20px');
		width: -webkit-calc(~'50% - 20px');
		margin-right: 0px;
	}
	
	
	//BOOK
	
	#book main section#reserva{
		margin-top: 120px;
	}
	
	#book main section#reserva .centrador #locations .location{
		width: calc(~'50% - 20px');
		width: -webkit-calc(~'50% - 20px');
	}
	
	
	//RECETAS
	
	#blog main section#recetas .centrador #recipes{
		justify-content: space-between;
	}
	
	#blog main section#recetas .centrador #recipes .recipe{
		width: calc(~'50% - 20px');
		width: -webkit-calc(~'50% - 20px');
		margin-right: 0px;
	}
	
	
	//CONTACTO
	
	#contact main section#solicitud .centrador{
		padding: 0px 50px;
	}
	
	
	//FORMS
	
	#formulario .group.triple .input, .formulario .group.triple .input{
		width: calc(~'33% - 5px');
		width: -webkit-calc(~'33% - 5px');
	}
	
	#formulario .group.triple .input .group .input, .formulario .group.triple .input .group .input{
		width: calc(~'50% - 5px');
		width: -webkit-calc(~'50% - 5px');
	}
	
	
	
	//US
	
	#us main section.texto .centrador .parrafos .parrafo{
		padding: 0px 50px;
	}
	
	
	
}

/* = Mobile Small
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 430px) {


	//GENERALES
	
	.centrador{
		padding: 0px 20px;
	}
	
	h2{
		font-size: 40px;
	}
	
	h6{
		font-size: 16px;
	}
	
	.paragraph{
		font-size: 14px;
	}
	
	#portada.title .centrador{
		top: 40px;
	}
	
	button.boton{
		width: 100%;
	}
	
	
	//HEADER
	
	header #header .centrador{
		padding: 0px 20px;
		height: 70px;
	}
	
	header #header .centrador #logo{
		top: 65%;
	}
	
	header #header .centrador #logo .logo{
		width: 100px;
	}
	
	header #header .centrador #actions .action .ico{
		width: 25px;
	}
	
	header #header .centrador #menu{
		padding-top: 80px;
	}
	
	
	//NAV
	
	.navigation{
		overflow-x: scroll;
	}
	
	.navigation .centrador{
		height: 70px;
		justify-content: flex-start;
	}
	
	.navigation .centrador nav .link{
		margin: 0px;
		margin-right: 20px;
	}
	
	.navigation .centrador nav .link span{
		font-size: 12px;
		width: max-content;
	}
	
	
	//MENU
	
	#themenu{
		padding-top: 70px;
	}
	
	#themenu #portada .centrador .centro h2{
		display: none;
	}
	
	#portada .centrador .centro span{
		font-size: 20px;
		margin-top: 0px;
	}
	
	#themenu main section#menu{
		margin-top: 20px;
		padding-bottom: 0px;
	}
	
	#themenu main section#menu .centrador .categoria h6{
		margin-bottom: 20px;
	}
	
	#themenu main section#menu .centrador .categoria .platos .plato{
		width: calc(~'50% - 10px');
		width: -webkit-calc(~'50% - 10px');
	}
	
	#themenu main section#menu .centrador .categoria .platos .plato .info b{
		font-size: 14px;
	}
	
	#themenu main section#menu .centrador .categoria .platos .plato .info span{
		font-size: 14px;
		margin-top: 10px;
	}
	
	#themenu .navigation#bottom{
		display: none;
	}
	
	
	//BOOK
	
	#book main section#reserva{
		margin-top: 60px;
	}
	
	#book main section#reserva .centrador #locations .location{
		width: calc(~'50% - 10px');
		width: -webkit-calc(~'50% - 10px');
	}
	
	#book main section#reserva .centrador #locations .location .foto:after{
		padding-bottom: 135%;
	}
	
	#book main section#reserva .centrador #locations .location .info{
		padding: 20px 0px 40px;
	}
	
	#book main section#reserva .centrador #locations .location .info b{
		font-size: 14px;
	}
	
	#book main section#reserva .centrador #locations .location .info p{
		font-size: 14px;
		margin-top: 5px;
	}
	
	#book main section#reserva .centrador #locations .location .info button{
		.flexbox;
	}
	
	
	//RECETAS
	
	#blog main section#recetas{
		margin-top: 60px;
	}
	
	#blog main section#recetas .centrador #recipes .recipe{
		width: calc(~'50% - 10px');
		width: -webkit-calc(~'50% - 10px');
	}
	
	#blog main section#recetas .centrador #recipes .recipe .foto:after{
		padding-bottom: 135%;
	}
	
	#blog main section#recetas .centrador #recipes .recipe .info{
		padding: 20px 0px 40px;
	}
	
	#blog main section#recetas .centrador #recipes .recipe .info b{
		font-size: 14px;
	}
	
	#blog main section#recetas .centrador #recipes .recipe .info span{
		font-size: 14px;
		margin-top: 5px;
	}
	
	
	//RECETA
	
	#post{
		padding-top: 70px;
	}
	
	#post main article{
		padding: 20px 0px 60px;
	}
	
	#post main article .centrador #actions a{
		width: 100%;
	}
	
	
	//CATERING
	
	#catering{
		padding-top: 70px;
	}
	
	#catering main section#eventos .centrador #actions a{
		width: 100%;
	}
	
	
	//CONTACTO
	
	#contact main section#solicitud .centrador{
		padding: 0px 20px;
	}
	
	#contact main section#solicitud .centrador #contacto #formulario{
		padding: 60px 0px;
	}
	
	#contact main section#solicitud .centrador #contacto #formulario #actions{
		margin-top: 40px;
	}
	
	#contact main section#solicitud .centrador #contacto #msg{
		padding: 60px 0px;
	}
	
	#contact main section#solicitud .centrador #contacto #msg .centro > span{
		font-size: 16px;
	}
	
	
	//FORMS
	
	#formulario .group, .formulario .group{
		display: block !important;
		.input{
			width: 100% !important;
		}
	}
	
	#formulario .group.triple .input .group .input, .formulario .group.triple .input .group .input,#formulario .input, .formulario .input{
		margin-bottom: 15px;
	}
	
	
	#formulario .input .selector select, .formulario .input .selector select,#formulario .input input, .formulario .input input, #formulario .input textarea, .formulario .input textarea{
		font-size: 14px;
	}
	


}