/* =Colors
-----------------------------------------------------------------------------*/

//SITE


@color--primary:		#fff;
@color--secundary: 		#000;
@color--text: 			#707070;
@color--text--light:    #868686;
@color--accent: 		#C71300;
@color--background: 	#FAFAFA;
@color--line: 			#CBCBCB;


//SOCIAL


@color--twitter:	#55acee;
@color--facebook:	#3b5998;
@color--instagram:	#833ab4;
@color--youtube:	#e62117;
@color--whatsapp:	#25d366;
@color--planetoide: #59FCE7;


//ADMIN

@color--admin--back:    	#fff;
@color--admin--accent:  	#CF442B;
@color--admin--over:    	#ffffff;
@color--admin--background: 	#FAFAFA;
@color--admin--ok:      	#59FCE7;
@color--admin--error:   	#FC4342;
@color--admin--del:     	#FC4342;
@color--admin--text:    	#363636;
@color--admin--text--light: #C8C8C8;
@color--admin--line: 		rgba(0,0,0,0.06);