//EXTERNALS
////////////////
// roger@planetoide.mx 2020



//PLANETOIDE

#planetoide{
	
	.coverfull;
	position: fixed;
	z-index: 1000;
	.flexbox;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	pointer-events: none;
	
	.blurcolor{
		.coverfull;
		background: #273237;
	}

	.logo{
	    position: relative;
		z-index: 1002;
		width: 60%;
		max-width: 200px;
	    img{
		    width: 100%;
	    }
	}
	
	&.temp{
		.blurcolor{
			opacity: .8;
		}
	}

	
}




//ERROR VIEW

#errorView{
	
	
	.coverfull;
	position: fixed;
	z-index: 1000;
	.flexbox;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #273237;
	
	.content {
	    width: 80%;
	    max-width: 600px;
		
		strong{
			font-family: 'Reem Kufi';
		    color: white;
		    font-size: 50px;
		    display: block;
		    text-align: center;
		    pointer-events: none;
		    opacity: .85;
		}
		
	    span{
		    font-family: 'Reem Kufi';
		    color: white;
		    font-size: 22px;
		    pointer-events: none;
		    letter-spacing: .2px;
		    opacity: .2;
		    display: block;
		    text-align: center;
		    line-height: 1.2;
		}
		
		img {
		    width: 140px;
		    margin: 70px auto 0px;
		}
		
		
	}
	
	
}




//MAPA

.mapa#map{
	position: relative;
	height: 400px;
}



//PHOTO VIEWER

#photoView{
	
	.coverfull;
	position: fixed;	
	z-index: 200;
	opacity: 0;
	pointer-events: none;
	.flexbox;
	justify-content: center;
	align-items: center;
	
	#navinput{
		position: absolute;
		top: 0;
		left: 0px;
		opacity: 0;
	}
	
	&.showed{
		opacity: 1;
		pointer-events: all;
	}
	
	#cerrador{
		.coverfull;
		background: rgba(0, 0, 0, 0.8);
		cursor: pointer;
	}
	
	#photo{
		
		position: relative;
		width: 100%;
		height: 100%;
		max-width: calc(~'85% - 60px');
		max-width: -webkit-calc(~'85% - 60px');
		max-height: 70%;
		background-size: contain !important;
		z-index: 220;
		border: 1px solid white;
		
		#close{
			position: absolute;
			bottom: 105%;
			right: 0px;
			cursor: pointer;
			.flexbox;
			align-items: center;
			span{
				color: white;
			}
		}
		
		.side{
			position: absolute;
			top: 0px;
			width: 60px;
			height: 100%;;
			cursor: pointer;
			.dashed;
			border-color: white;
			.centrar;
			&.off{
				.arrow{
					opacity: .2;
					pointer-events: none;
				}
			}
			
			.arrow{
				position: relative;
				.centrar;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				i{
					color: white;
				}
			}
			
			&#next{
				left: 100%;
				background-position-x: 0% !important;
			}
			
			&#prev{
				right: 100%;
				background-position-x: 100% !important;
			}
		}
	}
	
	
}



// HSCROLLER

.v-hscroller{
	position: relative;
	
	.viewer{
		position: relative;
		width: 100%;
		.items{
			position: relative;
			.flexbox;
			.item{
				position: relative;
				min-width: 250px;
				margin-right: 30px;
				.dashed;
				min-height: 100px;
			}
		}
	}
	
	
	nav{
		position: relative;
		.side{
			position: relative;
			.centrar;
			opacity: 0;
			pointer-events: none;
			.transition(400ms);
			
			&.showed{
				opacity: 1;
				pointer-events: all;
			}
			.arrow{
				position: relative;
				cursor: pointer;
				.centrar;
				img{
					
				}
				i{
					display: block;
				}
			}
			&#prev{
				
			}
			&#next{
				
			}
		}
		
		
	}
	
	
}	


// HDRAGGER

.v-hdragger{
	position: relative;
	
	.viewer{
		position: relative;
		width: 100%;
		.items{
			position: relative;
			.flexbox;
			.item{
				position: relative;
				min-width: 250px;
				margin-right: 30px;
				.dashed;
				min-height: 100px;
			}
		}
	}
	
	.progress{
		position: relative;
		.bar{
			position: relative;
			margin: 0px auto;
			height: 20px;
			border-top: 1px solid #F2F2F2;
			.borderbox;
			cursor: -webkit-grab;
			.color{
				position: relative;
				height: 50px;
				background: transparent;
				width: 100px;
				margin-top: -25px;
				cursor:  -webkit-grab;
				&:after{
					content: '';
					.center-align;
					width: 100%;
					height: 5px;
					background: @color--accent;
				}
			}
			&:hover{
				.color:after{
					height: 10px;
				}
			}
		}
	}
	

	nav{
		position: relative;
		.side{
			position: relative;
			.centrar;
			.arrow{
				position: relative;
				cursor: pointer;
				.centrar;
				img{
					
				}
				i{
					display: block;
				}
			}
			&#prev{
				
			}
			&#next{
				
			}
		}
		
		
	}
	
	
}
		
	

#sharer{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 400;
	#social{
		position: relative;
		opacity: 0;
		pointer-events: none;
		.translate(0px,-40px);
		.transition2(600ms);
		.rrss{
			&#fb .ico{
				background: @color--facebook;
			}
			&#tw .ico{
				background: @color--twitter;
			}
		}
		&.active{
			opacity: 1;
			pointer-events: all;
			.translate(0px,0px);
		}
	}
	.action{
		position: relative;
		cursor: pointer;
		.ico{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-top: 15px;
			overflow: hidden;
			img{
				.center-align;
				opacity: 0;
				.transition(400ms);
				max-width: 30px;
				&.active{
					opacity: 1;
				}
			}
			i{
				display: block;
				font-size: 20px;
				.center-align;
				color: white;
				opacity: 0;
				&.active{
					opacity: 1;
				}
				&.fa-whatsapp{
					font-size: 25px;
				}
			}
		}
		&#btnShare .ico{
			background: @color--accent;
		}
		&#btnWA .ico{
			background: @color--whatsapp;
		}
	}
}


//ALERTS

#alerts{
	position: fixed;
	z-index: 150;
	bottom: 30px;
	right: 20px;
	width: 1px;
	.flexbox;
	justify-content: flex-end;
	flex-wrap: wrap;

	.alert{

		position: relative;
		min-width: 280px;
		margin-bottom: 10px;
		padding: 15px 40px 15px 20px;
		.borderbox;
		.transition2(1200ms);
		.translate(100%,0%);
		opacity: 0;
		pointer-events: none;

		span{
			.text(500);
			display: block;
		}

		i{
			.vertical-align;
			font-size: 18px;
			display: block;
			border-radius: 50%;
			color: @color--admin--over;
			opacity: .6;
			right: 15px;
		}

		&.showed{
			.translate(0%,0%);
			opacity: 1;
			pointer-events: all;
		}

		&.error{
			background: @color--admin--error;
			span{
				color: white;
			}
		}

		&.info{
			background: @color--admin--accent;
			span{
				color: @color--admin--over;
			}
		}

		&:last-of-type{
			margin-bottom: 0px;
		}
	}

}






/*
	MEDIA SCREEN
*/

/* =Full Screen
-----------------------------------------------------------------------------*/
@media only screen and (min-width : 1824px) {
	
}

/* = Tablet Horizontal
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 1224px) {
	
}

/* = Tablet Vertical / Movil Ancho
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 820px) {
	
}

/* = Mobile Small
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 430px) {


}






