/*
	TOOLBOX
*/


[v-cloak] {display: none}



/* = Alignments
-----------------------------------------------------------------------------*/

.vertical-align {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.horizontal-align {
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.center-align {
	position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.centrador{
	position: relative;
	max-width: 1160px;
	margin: 0px auto;
	padding: 0px 30px;
	width: 100%;
	.borderbox;
	z-index: 20;
}

.centrar{
	.flexbox;
	justify-content: center;
	align-items: center;
}

.centro{
	position: relative;
	z-index: 20;
}

.square{
	position: relative;
	&:after{
		display: block;
		content: '';
		padding-bottom: 100%;
	}
}

.perspective(@percentage){
	&:after{
		content: '';
		display: block;
		padding-bottom: @percentage;
	}
}


/* = Layers
-----------------------------------------------------------------------------*/

.coverfull{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blurcolor{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.blurfoto{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.ofhidden{
	overflow: hidden;
}

.borderbox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}



/* = Positions
-----------------------------------------------------------------------------*/

.fixed{
	position: fixed;
}

.overall{
	z-index: 100;
}

.relative{
	position: relative;
}


/* =Visual
-----------------------------------------------------------------------------*/

.dashed{
	border: 1px dashed black;
}

.blurry{
	filter: blur(4px);
	-webkit-filter: blur(4px);
	pointer-events: none;
}

.underlined(@stroke,@top,@color){
	position: relative;
	text-decoration: none;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: @top;
		left: 0px;
		width: 100%;
		height: @stroke;
		background: @color;
	}
}


/* =Flexbox
-----------------------------------------------------------------------------*/

.flexbox{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


/* =Transition
-----------------------------------------------------------------------------*/
.transition(@time){
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    transition: all @time ease-in-out;
}

.transition2(@time){
    -webkit-transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.transitionOne(@effect,@time){
    -webkit-transition: @effect @time ease-in-out;
    -moz-transition: @effect @time ease-in-out;
    -ms-transition: @effect @time ease-in-out;
    -o-transition: @effect @time ease-in-out;
    transition: @effect @time ease-in-out;
}

.delay(@time){
    -webkit-transition-delay: @time;
    -moz-transition-delay:  @time;
    -ms-transition-delay:  @time;
    -o-transition-delay:  @time;
    transition-delay:  @time;
}


/* =Transforms
-----------------------------------------------------------------------------*/
.translate(@x,@y){
	-webkit-transform: translate(@x,@y);
	-moz-transform: translate(@x,@y);
	-o-transform: translate(@x,@y);
	-ms-transform: translate(@x,@y);
	transform: translate(@x,@y);
}

.scale(@scale){
	-webkit-transform: scale(@scale);
	-moz-transform: scale(@scale);
	-o-transform: scale(@scale);
	-ms-transform: scale(@scale);
	transform: scale(@scale);
}

.rotate(@deg){
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

.origin(@x,@y) {
	-moz-transform-origin: @x @y;
	-webkit-transform-origin: @x @y;
	-o-transform-origin: @x @y;
	-ms-transform-origin: @x @y;
	transform-origin: @x @y;
}
