////////////BLOG
////////////////////////

//BLOG ITEM
.blog_item{


	&.new{
		.perspective(100%);
	}
	
	//CUSTOM
	
	.foto{
		.perspective(100%);
	}
	
	
}


//BLOG FORM
.view#edit_view #blog_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 500px;
	
	.fotos#image{

	}
	
	.fotos#cover{
		padding-top: 0px;
		.foto{
			.perspective(50%);
		}
	}
	
	.fotos#block_image .foto{
		.perspective(50%);
	}
	
	
	.fotos#galleryPhoto .foto{
		.perspective(50%);
	}
	
	
	.bloques{
		
		.bloque{
			
			
			.preview{
				.imagen{
					
					&:after{
						display: none;
					}
					
					img{
						width: 100%;
					}
				}
				
				.video{
					
					
				}
				
				.info{
					padding: 15px;
				}
				
				
			}
			
			&.text .preview{
				padding: 15px;
				span{
					white-space: pre-line;
				}
			}
			
			&.list .preview{
				padding: 15px;
				span{
					white-space: pre-line;
					.text(500);
					font-size: 16px;
					text-align: center;
				}
			}
			
			&.title .preview{
				padding: 15px;
				span{
					white-space: pre-line;
					.text(500);
					font-size: 16px;
					text-align: center;
				}
			}
			
			
			&.link .preview{
				padding: 15px;
				span{
					font-size: 16px;
					.text(500);
					u{
						background: @color--admin--accent;
						color: @color--admin--text;
					}
				}
			}
			
			
			
		}
		
	}
	
	
	
	
	
}


//BLOG PREVIEW
.view#preview #blog_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}