////////////LOCATION
////////////////////////

//LOCATION ITEM
.location_item{


	&.new{
		.perspective(100%);
	}
	
	//CUSTOM
	
	.foto{
		.perspective(100%);
	}
	
}


//LOCATION FORM
.view#edit_view #location_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 500px;
	
	.fotos .foto{
		.perspective(100%);
	}
	
}


//LOCATION PREVIEW
.view#preview #location_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}