////////////MENU
////////////////////////

//MENU ITEM
.menu_item{


	&.new{
		.perspective(138%);
	}
	
	//CUSTOM
	
	.foto{
		.perspective(138%);
	}
	
	
}


//MENU FORM
.view#edit_view #menu_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 500px;
	
	.fotos .foto{
		.perspective(138%);
	}
	
	
}


//MENU PREVIEW
.view#preview #menu_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}