////////////USER
////////////////////////

//USER ITEM
.user_item{

	&.new{
		height: 50px;
	}

	//CUSTOM

	height: 50px;
	.flexbox;
	align-items: center;
	padding: 0px 15px;

	.avatar{
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #e2e2e2;
		background-size: cover !important;
	}

	strong{
		margin-left: 10px;
	}



}


//USER FORM
.view#edit_view #user_form{

	position: relative;
	margin: 0px auto;
	width: 100%;

	//CUSTOM

	max-width: 450px;

	.avatar{
		.type{
			i{
				margin-bottom: 0px;
			}
		}
	}

}


//USER PREVIEW
.view#preview #user_preview{
	position: relative;
	margin: 0px auto;
	width: 100%;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);

	//CUSTOM

	background: #fafafa;
	padding: 10px 0px 40px;

}
